.center {
  margin: 0 auto;
}
.bold {
  font-weight: bold;
}
.med-gray {
  color: #777;
}
.mute {
  color: #aaa;
}
.it {
  font-style: italic;
}
.mb15 {
  margin-bottom: 15px;
}
.mb30 {
  margin-bottom: 30px;
}
.sm {
  font-size: 14px;
}
body {
  background: #9db56c;
}
.container {
  background: white;
}
.login-page {
  background: url(../images/hackbackground.png) no-repeat center center fixed;
  background-size: cover;
}
.login-page .login-form {
  position: absolute;
  right: 250px;
  top: 400px;
  color: white;
}
.login-page .login-form input[type="text"],
.login-page .login-form input[type="password"] {
  width: 300px;
}
.login-page .login-form input[type="submit"] {
  background: #e46404;
  border: 1px solid #b14e03;
  color: white;
}
.login-page .login-form input[type="submit"]:hover {
  background: #b14e03;
}
.login-page .biglogo {
  position: absolute;
  width: 250px;
  right: 215px;
  top: 90px;
}
.act-item {
  box-sizing: border-box;
  width: 380px;
  float: left;
  margin-bottom: 30px;
  padding: 15px;
  overflow: hidden;
  position: relative;
}
.act-item .act-item-wrap {
  position: relative;
  box-sizing: border-box;
  background: #eee;
  overflow: hidden;
  padding: 15px;
  height: 200px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.act-item .act-item-action {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
address {
  margin-bottom: 5px;
}
.navbar {
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  background: #344923;
  border-color: #344923;
}
.navbar-toggle {
  margin-top: 17px;
}
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
  color: #f66c05;
}
.navbar-default .navbar-nav > li > a {
  margin-top: 11px;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
  margin-left: 10px;
}
.navbar-default .navbar-nav > .dropdown > a .caret:hover {
  border-top-color: #f66c05;
  border-bottom-color: #f66c05;
}
.app-container {
  max-width: 1170px;
  margin: 0 auto;
  background: white;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  margin-top: 30px;
  padding: 15px 15px;
  margin-bottom: 60px;
}
.award {
  display: inline-block;
  -webkit-border-radius: 500%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 500%;
  -moz-background-clip: padding;
  border-radius: 500%;
  background-clip: padding-box;
}
.trophy-case .award {
  margin-right: 30px;
  margin-bottom: 15px;
}
.activity-feed-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  overflow: hidden;
}
.activity-feed-item .pic {
  width: 10%;
}
.activity-feed-item .name {
  width: 70%;
}
.activity-feed-item .name div {
  margin-top: 12px;
}
.activity-feed-item .time {
  width: 20%;
}
.activity-feed-item .time div {
  margin-top: 14px;
}
.act {
  height: 250px;
}
.footer-img {
  background: url(/images/transmountains.png) top center no-repeat;
  width: 100%;
  height: 450px;
}
